body {
  background-color: aquamarine;
}
table {
  font-size: large;
  color: purple;
  border: 2px solid yellowgreen;
}
.capital {
  text-transform: capitalize;
}
progress {
}
p {
  color: deeppink;
  font-size: large;
}
#creator {
  color: firebrick;
}
* {
  scroll-padding-block-end: blue;
}
img {
  align-self: center;
}
#ssr {
  text-align: center;
}
